*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
:root{
    --primary:#FB2E86;
    --mainFont:"Lato", sans-serif;
}
.btn{
    border:none;
    outline: none;
    color:white;
   
    padding: 16px 40px;
    border-radius: 2px;
}
.btn-primary{
  background-color: var(--primry);
}
.btn-success{
    background-color: #08D15F;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.container{
    width:calc(100% - 320px);
    margin: auto;
}
.text-white{
    color:#fff;
}
.d-flex{
    display: flex;
}
.flex-direction{
    flex-direction: column;
}
.left-side{
    width:30%
}
.right-side{
    width:60%
}
.gap-1{
    gap: 1px;
}
.gap-2{
    gap: 10px;
}
.gap-3{
    gap:15px;
}
.gap-4{
   gap:20px;
}
.gap-5{

}
.gap-6{
    gap:25px;
}