body{
    font-family: var(--mainFont);
}
.header{
   
    padding: 57px 0;
}
.header ul{
    display: flex;
    gap: 36px;
    flex-wrap: wrap;
}
.header .bar{
    display: none;
}
.list a{
    color:#0D0E43;
}
.search input{
    border: none;
    outline: none;
    width:250px;
    padding-left: 6px;
}
.search button{
    border: none;
    outline: none;
    background-color: var(--primary);
    padding: 8px 13px;
} 
.search form{
    border: 3px solid #E7E6EF;
}
.footer{
    background-color: #EEEFFB;
    padding: 50px;
}
.header .active{
    color:var(--primary);
}
.footer .left-side{
    gap:35px;
    align-items: flex-start;
    
}
.footer .a,.address-info{
    color:#8A8FB9;
}
.footer-item{
    gap: 45px;
}
@media screen and (max-width:1200px)
 {
    .search ,.list{display: none;}
    .header .bar{
        display: block;
    }
}
