body{
    font-family: var(--mainFont);
}
.header{
   
    padding: 57px 0;
}
.header ul{
    display: flex;
    gap: 36px;
    flex-wrap: wrap;
}
.header .bar{
    display: none;
}
.header .active{
    color:var(--primary);
}
.list a{
    color:#0D0E43;
}
.search input{
    border: none;
    outline: none;
    width:250px;
    padding-left: 6px;
}
.search button{
    border: none;
    outline: none;
    background-color: var(--primary);
    padding: 8px 13px;
} 
.search form{
    border: 3px solid #E7E6EF;
    border-radius: 5px;
    display: flex;
}
/* start newslater*/
.newslater{
    background-image: url("../assets/img/public/Rectangle-102-_1_.webp");
    padding:175px 0;
    text-align: center;
   /* background-attachment: fixed;*/
}
.newslater h2{
    margin-bottom:30px ;
    font-size: 35px;
    color:#151875;
    
}
.shop-btn{
    transition: all .5s;
}
.shop-btn:hover{
    background-color: aqua;
}
/* end newslater*/
/* ...................... clients....................*/
.clients{
    padding: 50px 0;
}
.clients .row{
    flex-wrap: nowrap;
    gap:15px;
    overflow-x: auto;
}
.clients img{
  width: 200px;
  height: 200px;
}
.clients .logo{
    width: calc( (100% - 75px ) / 6);
}
@media screen and (max-width:900px){
   .clients .logo{
    width:calc(( 100% - 30px ) / 3);
   }
} 
/*End Client*/

/*footer*/
.footer{
    background-color: #EEEFFB;
    padding: 50px;
}
.footer .row{
   
    gap:30px;
}


.footer .left-side{
    gap:35px;
    align-items: flex-start;
  /*  width:calc( (100% - 30px) /2 );*/
    
    
    
}/*
.footer .right-side{
    width:calc( (100% - 30px) /2 );
   
}*/
.footer .a,.address-info{
    color:#8A8FB9;
}
.footer .right-side .row{
    gap: 35px;
    align-items: flex-start
    
    ;
}
.footer-item{
    gap: 45px;
    width:calc( (100% - 70px) /3 );
}

 @media screen and (max-width:1200px)
 {
     .header .search {display: none;}
     .bar{
        display: block;
    }
}
@media screen and (max-width:992px)
 {
    .footer .left-side  {
        width: 100%;
    }
    .footer .right-side{
        width: 100%;
    }
}
@media screen and (max-width:576px)
 {
   .footer-item{
    width: 100%;
   }
}